[submodule "third_party/pomaicache"]
	path = third_party/pomaicache
	url = https://github.com/AutoCookies/pomaicache
[submodule "third_party/contextsqueezer"]
	path = third_party/contextsqueezer
	url = https://github.com/AutoCookies/contextsqueezer
